@using hshmedstats.Application
@{
    var taskCount = Context.Items["Notifications"];
    var reminderCount = Context.Items["Reminders"];
}

<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div class="header">
                <img src="~/images//logo.png" class="header_logo" />
                @if (User.IsInRole(hshmedstats.Application.Global.Roles.Admin))
                {
                    <button type="button" class="navbar-minimalize btn btn-outline-primary pcs-menu-button"><i class="fa fa-bars"></i> </button>
                }
               
            </div>
           
        </div>
        <ul class="nav navbar-top-links navbar-right">
           
            <li>
                <a href="@Url.Action("Logout", "Account")">
                    <i class="fa fa-sign-out"></i> Αποσύνδεση
                </a>
            </li>
        </ul>
    </nav>
</div>