.login_logo_container {
  margin: 0 auto;
  width: 400px;
  padding-top: 50px;
}

.login_logo {
  width: 400px;
  height: auto;
}

.login_button {
  background: #DB332C !important;
  border-color: #DB332C !important;
  font-size: 16px;
}

.login_form {
  margin-top: 50px;
}
