@model hshmedstats.Web.Models.Account.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCS Invoicing</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/ladda/dist/ladda.min.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/ladda/dist/ladda-themeless.min.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sass/login.css" asp-append-version="true" />
        <link href="~/lib/awesome-bootstrap-checkbox/awesome-checkbox.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/ladda/dist/ladda.min.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/ladda/dist/ladda-themeless.min.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sass/login.min.css" asp-append-version="true" />
        <link href="~/lib/awesome-bootstrap-checkbox/awesome-checkbox.css" rel="stylesheet" />
    </environment>

</head>
<body class="gray-bg">
    <div class="login_logo_container animated fadeInDown">
        <img src="~/images/PCS_logo.png" class="login_logo" />
    </div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <form class="m-t login_form" role="form" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div class="form-group">
                    <input class="form-control" placeholder="Username" asp-for="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-primary">
                        <input asp-for="RememberMe" class="" />
                        <label asp-for="RememberMe">
                            Remember Me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b login_button ladda-button" data-style="slide-left">Login</button>
            </form>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/ladda/dist/spin.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.jquery.min.js"></script>
        <script src="~/js/Controllers/Account/account.js"></script>

        <script type="text/javascript">
            $(function () {
                Account.init();
            });
        </script>

    </environment>
    
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/ladda/dist/spin.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.jquery.min.js"></script>
        <script src="~/js/Controllers/Account/account.min.js" asp-append-version="true"></script>

        <script type="text/javascript">
            $(function () {
                Account.init();
            });
        </script>

    </environment>
</body>
</html>
